data
out
checkpoints
logs
*demo*

promptsource
*/promptsource
*/*promptsource*

*/*.log
*.log
*.err
*.out
*.txt
*/*.err
*/*.out
*/*.txt
*/*.json
__pycache__
*/__pycache__
*/*/__pycache__

Makefile
*/Makefile

*tmp*
*/*tmp*
*track*
*/*track*

my*
*.zip
*.pkl
*.jsonl
*.csv
*.json

.ipynb_checkpoints
__pycache__
models.zip
models

*.egg-info